-i https://pypi.org/simple/
attrs==19.3.0
branca==0.3.1
certifi==2019.9.11
chardet==3.0.4
click-plugins==1.1.1
click==7.0
cligj==0.5.0
fiona==1.8.8
folium==0.8.3
geographiclib==1.50
geopandas==0.4.1
geopy==1.19.0
idna==2.8
jinja2==2.10.3
markupsafe==1.1.1
munch==2.3.2
numpy==1.17.3
pandas==0.24.2
pyproj==2.4.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
shapely==1.6.4.post2
six==1.12.0
urllib3==1.24.2
